<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Boost - Find the Perfect Tutor Today</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Boost Tutors</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="aboutus/index.html" onClick="goAbout();">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../Courses/index.html">Courses Currently Taught</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#tutors">Find a Tutor</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../contact/index.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Calculus bothering you? Schedule a session with one of our tutors.</h1>
                <hr>
                <p>A registration-free tutoring service where you can find help right away. Whether it's a week or a day before your final exams, we're here for you.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We're here to help!</h2>
                    <hr class="light">
                    <p class="text-faded">Boost Tutors was founded to help cope with the difficulty of college courses. As college students, we understand how quickly classes can get difficult and quality help does not come along easily. That's why we're here. We want to help you succeed with all the support you need. The best way we can do so is by connecting you to quality tutors in (temporarily) four academic disciplines. Just email our tutors personally and we'll set everything else up for you.</p>
                    <a href="#courses" class="page-scroll btn btn-default btn-xl">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="courses">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service, We Have Courses In </h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-calculator wow bounceIn text-primary"></i>
                        <h3>Mathematics</h3>
                        <p class="text-muted">From Calculus I to Complex Analysis, we have your back.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-flask wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Natural Sciences</h3>
                        <p class="text-muted">Need help with Rotational Kinematics? Orgo? Come on over.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-legal wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Political Science</h3>
                        <p class="text-muted">Can't figure out how Congress works? We have tutors who've interned in the nation's capital</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-laptop wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Computer Science</h3>
                        <p class="text-muted">Whether it's algorithms or machine learning, we know it better than StackOverflow</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="tutors">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="tutors-box" data-toggle="modal" data-target="#myModal">
                        <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="tutors-box-caption">
                            <div class="tutors-box-caption-content">
                                <div class="project-category text-faded">
                                    Mathematics Tutor
                                </div>
                                <div class="project-name">
                                    John Doe
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="tutors-box" data-toggle="modal" data-target="#myModal">
                        <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="tutors-box-caption">
                            <div class="tutors-box-caption-content">
                                <div class="project-category text-faded">
                                    Chemistry Tutor
                                </div>
                                <div class="project-name">
                                    Jane Doe
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="tutors-box" data-toggle="modal" data-target="#myModal">
                        <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="tutors-box-caption">
                            <div class="tutors-box-caption-content">
                                <div class="project-category text-faded">
                                    Constitutional Law Tutor
                                </div>
                                <div class="project-name">
                                    Barry Allen
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="tutors-box" data-toggle="modal" data-target="#myModal">
                        <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="tutors-box-caption">
                            <div class="tutors-box-caption-content">
                                <div class="project-category text-faded">
                                    Machine Learning Tutor
                                </div>
                                <div class="project-name">
                                    Tony Stark
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="tutors-box" data-toggle="modal" data-target="#myModal">
                        <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                        <div class="tutors-box-caption">
                            <div class="tutors-box-caption-content">
                                <div class="project-category text-faded">
                                    Genetics Tutor
                                </div>
                                <div class="project-name">
                                    Bruce Banner
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="tutors-box" data-toggle="modal" data-target="#myModal">
                        <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="tutors-box-caption">
                            <div class="tutors-box-caption-content">
                                <div class="project-category text-faded">
                                    Physics Tutor
                                </div>
                                <div class="project-name">
                                    Harrison Welles
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--
     <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Free Download at Start Bootstrap!</h2>
                <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
            </div>
        </div>
    </aside>
    -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Interested In A Career As A Tutor?</h2>
                    <hr class="primary">
                    <p>We are actively looking for new tutors to join our staff. If you think that a future in education is for you, then by all means contact us at the following.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">BoostSpecialist@boost.com</a></p>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Schedule an appointment with me?</h4>
          </div>
          <div class="modal-body">
            <form id="send-data" action="/users" method="post">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="comment">Message</label>
                <textarea class="form-control" rows="5" id="comment" placeholder="Message"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" value="Submit" class="btn btn-primary" id="submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
    <script type="text/javascript">
        function goAbout(){
            window.location.href = '/about';
        }
    </script>
    <script type="text/javascript">
            $(function(){
                $('#submit').click(function(){
                    var $email = $('#exampleInputEmail1');
                    var $message = $('#comment');

                    $.ajax({
                        type:'POST',
                        url:'http://localhost:3000/users',
                        data: {
                            email: $email.val(),
                            message: $message.val()
                        },
                        success: function(data){
                            console.log(data);
                            console.log("I got it");
                        },
                        error: function(){
                            alert("Server isn't up!");
                        }
                    });
                });
            });
    </script>
</body>

</html>
